@font-face { font-family: text_f; src: url("materials/fonts/calibri.ttf"); }
@font-face { font-family: menu_f; src: url("materials/fonts/Nunito-Regular.ttf"); }
@font-face { font-family: header_f; src: url("materials/fonts/Nunito-Regular.ttf"); }

body {
    background-color: rgb(33, 33, 33);
    font-family: 'text_f';
    font-size: 20px;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
}

body b { font-weight: normal; }
body i { font-style: normal; }
body s { text-decoration: none; }
body p { margin: 0px; }
body h1 { font-weight: normal; margin: 0px;}   body h2 { font-weight: normal; margin: 0px;}   body h3 { font-weight: normal; margin: 0px;}
body h4 { font-weight: normal; margin: 0px;}   body h5 { font-weight: normal; margin: 0px;}   body h6 { font-weight: normal; margin: 0px;}

body a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
body u { text-decoration: none; }

.header { background-color: rgb(33, 33, 33);   color: rgb(255, 255, 255); }
.header a { color: rgb(255, 255, 255); }
.header .in_header { font-family: 'header_f'; }
.header .menu { font-family: 'menu_f'; }
.header .line_for_menu { font-family: 'menu_f'; }
.header .settings { font-family: 'menu_f'; }

.ground { 
    position: relative;
    background-color: rgb(55, 55, 55);   
    color: rgb(255, 255, 255);   
    padding: 5px;   
    padding-left: 20px;
}
.ground a { color: rgb(255, 255, 255); }

.content { font-family: 'text_f'; }

.navigation { font-family: 'menu_f'; }
.toBegin_button { font-family: 'menu_f'; }

body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-thumb { background-color: rgb(142, 142, 142); }
body::-webkit-scrollbar-thumb:hover { background-color: rgb(255, 255, 255); }
body::-webkit-scrollbar-track { background-color: rgb(55, 55, 55) }


/* ================================================================= in_header ============================================== */


.header .in_header {
    width: 100%;
    height: 250px;
}

.header .in_header h2 {
    font-size: 110px;
    position: absolute;
    top: 90px;
    padding-left: 15px;
}


/* ==================================================================== menu ================================================ */

.line_for_menu {
    position: absolute;
    background-color: rgb(55, 55, 55);
    top: 250px;
    left: 0px;
    height: 40px;
    width: 100%;
}

.line_for_menu .menu_button {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    padding-right: 20px;
}

.menu {
    position: absolute;
    top: 290px;
    left: 25px;
    background-color: rgb(33, 33, 33);
    height: 0px;
    /* height: 400px; */
    width: 1300px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.08s;
    border: 5px solid #80ABC4;
    border-top: none; 
    border-bottom-width: 0px;
    overflow: hidden;
    z-index: 120;
}

.menu .in_menu {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.menu .in_menu a {
    position: absolute;
    display: block;
    width: max-content;
    padding: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 3px solid rgb(55, 55, 55);
    background-color: rgb(33, 33, 33);
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    z-index: 150;
}
.menu .in_menu a.c3 { color: #80ABC4; }
.menu .in_menu a.c3a { color: #A380C4; }
.menu .in_menu a.c2 { color: #93B68D; }
.menu .in_menu a.c2a { color: #C4BA80; }
.menu .in_menu a.c1 { color: #B88A8A; }
.menu .in_menu a.c1a { color: #C4A180; }

/* ============================================================= level button ================================================ */

.level_button {
    /* background-color: red; */
    font-size: 16px;
    position:absolute;
    right: 0px;
    width: 180px;
    height: 134px;
    z-index: 100;
    text-align: center;
    padding-top: 10px;
}
.level_3_button { top: 0px; z-index: 100; }
.level_2_button { top: 133px; z-index: 105; }
.level_1_button { top: 266px;  z-index: 110;}


/* ==================================================================== level ================================================ */

.level {
    position:absolute;
    background-color: rgb(33, 33, 33);
    top: 0px;
    left: 0px;
    width: 1180px;
    height: 400px;
    visibility: hidden;
}
.level_1 { visibility: visible; }

/* ================================================================= settings ================================================ */

.settings {
    position: absolute;
    display: block;
    right: 40px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.09s;
    top: 290px;
    width: 200px;
    height: 0px;
    z-index: 140;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 0, 0, 0);
    border-top: none;
}
.settings b {
    position: absolute;
    text-align: right;
    width: max-content;
    right: 0px;
    top: -40px;
    line-height: 40px;
}
.settings .in_settings {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    
}

/* =============================================================== navigation ================================================ */

.navigation {
    background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
    width: 1px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.05s;
    height: 900px;
    position: fixed;
    border-right: 20px solid rgba(0, 0, 0, 0);
    left: 0px;
    top: 0px;
    margin-top: 290px;
    overflow: hidden;
    padding-top: 25px;
    padding-right: 20px;
}

.navigation h6 {
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.navigation a {
    color: rgb(157, 157, 157);
    display: inline-block;
    padding-left: 43px;
    padding-bottom: 10px;
    line-height: 20px;
}
.navigation a:hover {
    color: rgb(255, 255, 255);
}
.navigation a.ref:hover {
    color: rgb(173, 255, 132);
}

/* =========================================================== toBegin button ================================================ */

a.toBegin_button {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 25px;
    bottom: 25px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: 4px solid rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 48px;
    z-index: 150;
}


/* ▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅ content ▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅▅ */


.content {
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(33, 33, 33);
    overflow: hidden;
}

.content pre {
    margin: 0px;
}

.content pre .nav {
    display: block;
    visibility: hidden;
}

.content pre .part_separator {
    height: 10px;
    visibility: visible;
    background-color: rgb(171, 171, 171);
}

.content  .references a:hover { color: #67bc69; }
.content  .references a b { color: rgb(0, 0, 0); }

/* =========================================================== content part =================================================== */

.content .part {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.content .part h6 { font-size: 29px; padding-bottom: 15px; padding-left: 35px; }
.content .part h5 { font-size: 39px; padding-bottom: 35px; padding-top: 10px;}

.content .part p { padding-bottom: 7px; }

.content .part p i { color: #318bbf }

.content .part p s { color: rgb(89, 116, 85); }
.content .part p s.in2 { padding-left: 30px; }


.content .part p u { cursor: pointer; }
.content .part p u s { color: rgb(0, 0, 0); }
.content .part p u s:hover { color: #318bbf; }
.content .part p u b b { background-color: #f3f1ec; color: rgb(0, 0, 0); }
.content .part p u b b i { color: #318bbf; }

